# Ignore environment variables
.env

# Ignore node_modules (so you don’t push thousands of unnecessary files)
node_modules/

# Ignore log files
*.log

# Ignore cached files
services/cache/

# Ignore demo data
services/demo_data/