<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/home/home-design.css">
</head>
<body>
    <header>
        <div class="left-side-header">
            <div class="logo">
                <a href="/home">
                    <img src="../fintrack-header-logo.svg" alt="Logo">
                </a>
            </div>
    
            <div class="menu-icon">
                <img src="../design/menu.svg" alt="Menu">
            </div>
        </div>
    
        <div class="menu-container">
            <nav>
                <ul>
                    <li><a href="#">Начало</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Контакти</a></li>
                </ul>
            </nav>
    
            <div class="right-side-header">
                <% if (!user) { %>
                    <div class="login-register-section">
                        <a href="/register" class="button register-btn">Регистрация</a>
                        <a href="/login" class="button login-btn">Вход</a>
                    </div>
                <% } else { %>
                    <div class="welcome-message">
                        <p>Добре дошъл, <%= user.username %>!</p>
                        <a href="/logout" class="button logout-btn">Изход</a>
                    </div>
                <% } %>
            </div>
        </div>
    </header>

    <section>
        <div class="left-side">
            <h1>Fin<a style="color: #6dc0e0;">Track </a></h1>
            <h2>Опознай <a style="color: #6dc0e0;">парите </a> си</h2>

            <% if (!user) { %>
                <div class="login-register-section">
                    <div>
                        <a href="/login" class="button login-btn">Вход</a>
                    </div>
                    <div>
                        <a href="/register" class="button register-btn">Създайте акаунт</a>
                    </div>
                </div>
            <% } else { %>
                <p class="welcome-text">Радваме се, че се завърнахте, <%= user.username %>!</p>
            <% } %>
        </div>

        <div class="blog-post-box">
            <div class="blog-post-title">
                <h3>Как да се справим с финансовите си проблеми?</h3>
            </div>

            <div class="blog-post-credentials">
                <div class="blog-post-author">
                    <p>От: <a class="author-name">Иван Иванов</a></p>
                </div>
                <div class="blog-post-title-date">
                    <p>12.05.2021</p>
                </div>
            </div>
            <div class="blog-post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                     viverra maecenas accumsan lacus vel facilisis.
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                     sed do eiusmod tempor incididunt ut labore et dolore magna 
                     aliqua. </p>
            </div>
            <div class="blog-post-read-more">
                <a href="#">
                    <p>Прочети повече</p>
                    <img src="../design/right-arrow.svg" alt="Logo" style="width: 15%;">
                </a>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="../fintrack-header-logo.svg" alt="Logo">
            </div>
            <div class="footer-menu">
                <nav>
                    <ul>
                        <li><a href="#">Начало</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-social-media">
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter/X</a>
            </div>
        </div>
    </footer>

</body>
</html>
